<aside>
    <img src="../style/img/profile.png" alt="Picture of Chris Schick"/>
    <h1>Chris Schick</h1>
    <nav>
        <ul>
            <a href="./main.html"><li>Home</li></a>
            <a href="./archive.html"><li>Archive</li></a>
        </ul>
    </nav>
    <section id="social">
        <a href="https://github.com/Chrinkus">
            <img src="../style/img/github_icon.png" alt="GitHub profile"/>
        </a>
        <a href="https://twitter.com/chrinkus">
            <img src="../style/img/twitter_icon.png" alt="Twitter profile"/>
        </a>
        <a href="">
            <img src="../style/img/facebook_icon.png" alt="Facebook page"/>
        </a>
    </section>
</aside>
