<aside>
    <img src="./style/img/profile.jpg" alt="Picture of Chris Schick"/>
    <p>Chris Schick</p>
    <nav>
        <h2>Projects:</h2>
        <ul>
            <a href="./main.html"><li>JS Endeavours</li></a>
            <a href="https://chrinkus.github.io/squares/" target="_blank"><li>Squares</li></a>
            <a href="https://chrinkus.github.io/walk/" target="_blank"><li>A Walk in the Woods</li></a>
        </ul>
    </nav>
    <section id="social">
        <a href="https://github.com/Chrinkus" target="_blank">
            <img src="./style/img/gh_black.png" alt="GitHub profile"/>
        </a>
        <a href="https://twitter.com/chrinkus" target="_blank">
            <img src="./style/img/tw_blue.png" alt="Twitter profile"/>
        </a>
        <a href="" target="_blank">
            <img src="./style/img/fb_blue.png" alt="Facebook page"/>
        </a>
    </section>
</aside>
