<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8">
        <title>Title</title>
    </head>
    <body>
        <header>
            <h1>Title</h1>
            <h3>Subtitle</h3>
        </header>

        <nav>
            <ul>
                <li><a>Nav1</a></li>
                <li><a>Nav2</a></li>
                <li><a>Nav3</a></li>
                <li><a>Nav4</a></li>
            </ul>
        </nav>

        <!-- Blog entries - May repeat upto 5 -->
        <section>
            <article>
                <h2>Title</h2>
                <p>article text</p>
            </article>
        </section>

        <footer>
            <p>Copyright info</p>
        </footer>
    </body>
</html>
