<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8">
        <!-- title -->
    </head>
    <body>
        <!-- main-header -->

        <nav>
            <ul>
                <li><a>Games</a></li>
                <li><a>Apps</a></li>
                <li><a>Blog</a></li>
                <li><a>Archive</a></li>
            </ul>
        </nav>

        <!-- Blog entries - May repeat upto 5 -->

        <section>
            <!-- entries -->
        </section>

        <footer>
            <p>Copyright info</p>
        </footer>
    </body>
</html>
