<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8">
        <!-- title -->
        <link href="../style/css/post.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <nav>
            <ul>
                <li><a id="prev">Previous</a></li>
                <li><a id="home">Home</a></li>
                <li><a id="next">Next</a></li>
            </ul>
        </nav>

        <main>
            <article>
                <!-- header -->
                <!-- post -->
            </article>
        </main>

        <footer>
            <!-- social -->
        </footer>
        <script src="../scripts/post-scripts.js"></script>
    </body>
</html>
