<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8">
        <!-- title -->
        <link href="../style/css/mock-main.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    </head>
    <body>
        <header>
            <!-- hgroup -->
            <section id="social">
                <a href="https://github.com/Chrinkus"><img src="../style/img/github_icon.png" alt="GitHub Profile"/></a>
                <a href="https://twitter.com/chrinkus"><img src="../style/img/twitter_icon.png" alt="Twitter Profile"/></a>
                <a href=""><img src="../style/img/facebook_icon.png" alt="Facebook Profile"/></a>
            </section>
        </header>

        <nav>
            <ul>
                <a href=""><li>HOME</li></a>
                <a href="./archive.html"><li>ARCHIVE</li></a>
                <a href="./about.html"><li>ABOUT</li></a>
            </ul>
        </nav>

        <!-- main -->

        <footer class="main">
            <p>Version 0.1.0 | <a href="">GitHub Repository</a></p>
            <p id="copy">&copy; Chris Schick 2017</p>
        </footer>
    </body>
</html>
