<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8">
        <!-- title -->
        <link href="../style/css/mock-main.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    </head>
    <body>
        <header>
            <!-- hgroup -->
            <section id="social">
                <a href=""><img src="../style/img/GitHub-Mark-Light-64px.png" alt="link to GitHub Profile"/></a>
                <a href=""><img src="../style/img/Twitter_Social_Icon_White.png" alt="link to Twitter Profile"/></a>
                <a href=""><img src="../style/img/FB-f-logo__white_50.png" alt="link to Facebook Profile"/></a>
            </section>
        </header>

        <nav>
            <ul>
                <a href=""><li>HOME</li></a>
                <a href=""><li>ARCHIVE</li></a>
                <a href=""><li>ABOUT</li></a>
            </ul>
        </nav>

        <!-- main -->

        <footer class="main">
            <p><a href="">Version 0.1.0</a> | <a href="">GitHub Repository</a></p>
            <p id="copy">&copy; Chris Schick 2017</p>
        </footer>
    </body>
</html>
