aside {
    max-height: 300px;
    min-width: 185px;
    position: -webkit-sticky;
    position: sticky;
    top: 8px;

    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside img {
    margin-bottom: 1em;
}

#portrait {
    width: 125px;
    height: 125px;
    border-radius: 100%;
}

aside h1 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

#social img {
    width: 2em;
    height: 2em;
}

@media only screen and (max-width: 700px) {
    aside {
        position: relative;
        flex-direction: row;
        justify-content: center;
    }

    #portrait {
        margin-right: 1em;
    }
}
