#mainFooter {
    background-color: DimGray;
    color: Snow;
    width: 100%;
    min-height: 100px;
    padding: 0.5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#mainFooter a:link, a:visited {
    color: Snow;
}

#mainFooter a:hover {
    text-decoration: underline;
}
