* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

body {
    max-width:  940px;
    margin: 0 auto;
    color: DimGray;
    background-color: Snow;
}

header {
    color: Snow;
    background-color: Indigo;
    height: 200px;
    margin: 8px 0;
    padding: 2%;

    display: flex;
    justify-content: center;
    align-items: center;
}

hgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

hgroup h1 { font-size: 2.5em; }
hgroup h2 { font-size: 1.5em; }

main {
    display: flex;
}

#previews {
    width: 80%;

    display: flex;
    flex-direction: column;
}

#previews article {
    height: 250px;
    margin-bottom: 8px;

    display: flex;
    flex-direction: row;
}

#previews article * {
    margin-right: 8px;
}

article img {
    width: 250px;
    height: auto;
}

article h1 { font-size: 1.5em }

article a:link {
    color: DimGray;
}

article a:visited {
    color: Indigo;
}

article a:active {
    color: Indigo;
}

article section {
    margin: 1% 2.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

article section p {
    margin-top: 1em;
    margin-bottom: 1em;
    flex: 1 0 auto;
}

section footer {
    width: 100%;
}

section footer p {
    margin: 0;
}

aside {
    width: 20%;
    margin-bottom: 8px;
}

@media only screen and (max-width: 700px) {
    main {
        flex-direction: column;
    }

    #previews {
        width: 100%;
        order: 2;
    }

    aside {
        width: 100%;
        order: 1;
    }

    #previews article {
        height: auto;
    }

    article img {
        display: none;
    }
}
