* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

body {
    width: 940px;
    margin: 0 auto;
    background-color: Snow;
    color: DimGray;
}

article img {
    width: 250px;
    height: auto;
}

header {
    background-color: Indigo;
    color: Snow;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}

#social {
    align-self: flex-end;
}

#social img {
    width: 32px;
    height: auto;
}

header h1 {
    font-size: 3.5em;
}

header h2 {
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav a {
    flex-grow: 1;
}

nav li {
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid DimGray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav a:link, a:visited li {
    color: DimGray;
    text-decoration: none;
}

nav a:active li {
    color: Snow;
    background-color: DimGray;
}

article {
    display: flex;
    margin: 2.5%;
}

article section {
    margin: 1% 2.5%;
    position: relative;
}

section footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

article h1 {
    font-size: 1.75em;
    margin-bottom: 2.5%;
}

footer.main {
    background-color: DimGray;
    color: Snow;
    height: 100px;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

footer.main a:link, a:visited {
    color: Snow;
    text-decoration: none;
}

#copy {
    font-size: 0.75em;
}
