* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

html, body {
    height: 100%;
}

body {
    max-width: 940px;
    margin: 0 auto;
    background-color: Snow;
    color: DimGray;
}

article {
    display: flex;
}

aside {
    width: 20%;
    margin: 8px 0;
}

#content {
    width: 80%;
    margin: 8px 0 8px 8px;
    align-self: flex-end;

    display: flex;
    flex-direction: column;
}

header {
    height: 250px;
    display: flex;
}

header img {
    display: block;
    height: 250px;
    width: 250px;
}

header hgroup {
    flex: 1 1 auto;
    margin-right: 8px;
    padding: 2%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

hgroup h1 {
    font-size: 2.5em;
}

#content section {
    margin: 8px 8px 0 0;
    padding: 1%;
}

#content section h1 {
    font-size: 1.75em;
}

#content section h2 {
    font-size: 1.5em;
    margin-bottom: 1%;
}

#content section h3 {
    font-size: 1.25em;
}

#content section p {
    text-align: justify;
    margin-bottom: 1.25em;
}

@media only screen and (max-width: 700px) {

    * {
        font-size: 18px;
    }

    article {
        flex-direction: column;
    }

    aside { 
        width: 100%;
        order: 2;
    }

    #content {
        width: 100%;
        order: 1;
    }

    header {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    header img {
        order: 1;
        margin-bottom: 8px;
    }

    header hgroup {
        order: 2;
        width: 100%;
        margin: 0;
    }
}
