* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

body {
    width: 940px;
    margin: 0 auto;
    background-color: Snow;
    color: DimGray;
}

main {
    display: flex;
}

aside {
    width: 20%;
    margin: 8px 0;
}

article {
    width: 80%;
    margin: 8px 0 8px 8px;
}

header {
    height: 250px;
    display: flex;
    justify-content: flex-end;
}

header img {
    height: 250px;
    width: auto;
}

header hgroup {
    flex-grow: 1;
    margin-right: 8px;
    padding: 2%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hgroup h1 {
    font-size: 2.5em;
}

article section {
    margin-top: 8px;
    padding: 1%;
}

article section h1 {
    font-size: 1.75em;
}

article section h2 {
    font-size: 1.5em;
    margin-bottom: 1%;
}

article section h3 {
    font-size: 1.25em;
}

article section p {
    text-align: justify;
    margin-bottom: 1.25em;
}

footer {
    background-color: DimGray;
    color: Snow;
    width: 100%;
    height: 100px;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 8px;
}

footer a:link, a:visited {
    color: Snow;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#copy {
    font-size: 0.75em;
}
