* {
    font-family: "Open Sans", sans-serif;
}

body {
    width: 800px;
    margin: 0 auto;
    background-color: Snow;
    color: DimGray;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    flex-grow: 1;
    min-height: 40px;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid DimGray;
    border-left: 1px solid DimGray;
    border-right: 1px solid DimGray;
}

header {
    background-color: Indigo;
    color: Snow;
    font-size: 1.5em;
    text-align: center;
    min-height: 200px;
    padding-top: 24px;
}

header h1 {
}

header date, p {
    display: inline;
}

article {
    width: 80%;
    margin: 0 auto;
}
